@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.outerDiv{
    width: 100vw;
    height: 100vh;
    background: #2a364f;
    display: grid;
    place-items: center;
}
.innerDiv{
    width: 80vw;
    height: 70vh;
    display: grid;
    place-items: center;
}
.main-heading{
    padding: 30px;
    color: #fff;
    /* text-shadow: 0 1px 5px rgba(255, 255, 255, 0.5); */
    font-size: 150px;
}
.temp{
    text-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
}
.btn{
    background-color: #f8b627;
    color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
}